
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: 
  #F5F7FB;
}

.welcome-warpper,
.Qustion-item,
main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}

main,
.welcome-warpper{
  height: 100vh;
}


.qustion-item{
  padding: 0;
}
.start-Btn{
background-color: #4D5B9E;
width: 193px;
height: 52px;
border: none;
border-radius: 15px;
font-size: 1rem;
font-weight: 500;
color: #F5F7FB;
;
}

.welcome-warpper > p{
  color:  #4D5B9E;
  font-weight: 400;
font-size: 1rem;
}


.options-list{
  list-style: none;
  display: flex;
 gap: 1em;
}

li{
  padding: .2em 0.6em;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  cursor: pointer;
  }

hr{
  width: 100%;
}


.question-text{
color: #293264;
font-size:1rem ;
font-weight: 700;
}

