
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: 
  #F5F7FB;
}

.welcome-warpper{
  height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}

.welcome-title{
  margin: 0;
}

.start-Btn{
background-color: #4D5B9E;
width: 193px;
height: 52px;
border: none;
border-radius: 15px;
font-size: 1rem;
font-weight: 500;
color: #F5F7FB;
;
}

.welcome-warpper > p{
  color:  #4D5B9E;
  font-weight: 400;
font-size: 1rem;
}